.font-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.sidenav {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }

 .box {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 225px;
    height: auto;
    padding: 20px;
}

